<!-- 

	:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	SFS2X Client Configuration file
	(c) 2010 gotoAndPlay
	:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

-->

<game>
<name>tawle</name>
<http-port type="integer">8080</http-port>
<port type="integer">9933</port>
<zone>games</zone>
<max-users type="integer">2</max-users>
<id type="integer">1</id>
<debug type="boolean">false</debug>
<host>localhost</host>
</game>